@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600&display=swap');

:root{
    --green:#00E77F;
    --white:#fff;
    --light-white:#aaa;
    --black:#3d3d3d;
    --light-bg:#4b4b4b;
    --sandy-brown:#F69A6F;
    --Aqua-haze:#EAF2F2;
    --red:#F00f0f;
    











}


*{
    font-family: 'Rubik', sans-serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    transition: .2s linear;
    text-transform: capitalize;
}

::selection{
    background-color: var(--white);
    color: var(--black);

}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 8rem;
}

::-webkit-scrollbar{
    height: .5rem;
    width: 1rem;
    
}

::-webkit-scrollbar-track{
    background-color: transparent;
}

::-webkit-scrollbar-thumb{
    background-color: var(--green);
    border-radius: 5rem;
}

body{
    background-color: var(--white);
}

section{
    max-width: 1200px;
    margin:0 auto;
    padding: 2rem;
}

.btn{
    display: inline-block;
    margin-top: 1rem;
    border-radius:5rem;
    background-color: var(--light-bg);
    cursor: pointer;
    color: var(--white);
    font-size: 1.8rem;
    padding:1rem 3rem;
}

.btm:hover{
    background-color: var(--white);
    color: var(--black);

}



.header{
    position: fixed;
    top: 0; left: 0; right: 0;
    z-index: 1000;
    background-color:var(--black) ;
}


.header .flex{
    position: relative;
    display: flex;
    align-items: center;
    justify-content:space-between; 

}

.header .flex .logo{
    font-size: 2.5rem;
    color: var(--white);
}



.header .flex .navbar{
    color: (var(--white));
    font-size: 2rem;

}
.navbar a{
    color: var(--white);
}

.header .flex .navbar a:hover{
    color:var(--green);

}

#menu-btn{
    cursor: pointer;
    color:var(--white);
    font-size: 2.5rem;
    display: none;
}

.home{
    margin-top: 6rem;
}

.home .row{
    display: flex;
    align-items: center;
    flex-wrap: wrap-reverse;
    gap:1.5rem;
}

.home .row .content{
    flex:1 1 40rem;
    text-align: center;

}

.home .row .image{
    flex: 1 1 40rem;
    width: 100%;
    height: 100vh;
    background-image: url(https://www.facebook.com/photo.php?fbid=172981669078163&set=pb.100090989913899.-2207520000&type=3);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
} 

.home .row .content h3{
    margin-bottom: 1 rem;
    font-size: 10rem;
    color:var(--light-bg);
    line-height: 1;
    margin-top: 100px;
    
}

.home .row .content h3 span{
    color:var(--green);
}
.cout .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
    gap: 1.5rem;
    align-items: flex-start;
}
.cout .box-container .box{
    background-color: var(--light-bg);
    border-radius: .5rem;
    padding: 2rem;
    display: flex;
    align-items: center;
    gap: 1.5rem;

}
.cout .box-container .box i{
    font-size: 5rem;
    color: var(--green);
}

.cout .box-container .box .content h3{
    font-size: 2rem;
    color: var(--white);
    margin-bottom: .5rem;

}












@media (max-width:991px){
    html{
        font-size: 55%;
        
    }

    .home .row .content h3{
        font-size: 8rem;
        margin-top: 100px;
    }

}
@media (max-width:768px){

    #menu-btn{
        display: inline-block;
    }

    #menu-btn.fa-times{
        transform: rotate(180deg);
    }

    .header .flex .navbar{
        position: absolute;
        top:99%; left:0; right:0;
        border-top: .1rem solid var(--light-white);
        border-bottom: .1rem solid var(--light-white);
        background-color: var(--light-bg);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    .header .flex .navbar.active{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }

    .header .flex .navbar a{
        display: block;
        margin: 2rem;
    }

    .home .row .content h3{
        font-size: 6rem;
    }

}

@media (max-width:450px){
    html{
        font-size: 50%;
        
    }

}







